.banner-background {
    background-color: #0b0b0b7d;
    border-radius: 30px;
}

.page-header .filter::after {
    background-color: rgba(231, 90, 90, 0.5);
}

.text-pink {
    color: #f18d9e !important;
}

.text-gallery {
    font-weight: 500;
    font-family: cursive;
    font-size: xxx-large;
}

.header-site {
    font-size: 4rem;
    font-weight: revert;
    font-family: cursive;
}

.image-inside-1 {
    width: 13rem;
    left: 2%;
    top: 25%;
    position: absolute;
    transform: rotate(15deg);
}


.image-inside-2 {
    width: 13rem;
    left: 2%;
    bottom: 2%;
    position: absolute;
    transform: rotate(-15deg);
}

.image-inside-3 {
    width: 13rem;
    left: 17%;
    bottom: 2%;
    position: absolute;
    transform: rotate(15deg);
}

.image-inside-4 {
    width: 13rem;
    right: 17%;
    bottom: 2%;
    position: absolute;
    transform: rotate(-15deg);
}

.image-inside-5 {
    width: 13rem;
    right: 2%;
    bottom: 2%;
    position: absolute;
    transform: rotate(15deg);
}

.override-title {
    font-family: fantasy !important;
    font-weight: 500 !important;
    background-image: linear-gradient(rgb(220, 67, 67) 35%, rgb(231, 71, 86) 100%);
}
